/* General settings */
body {
  font-family: arial, sans-serif;
  color: #5b5d5a;
}
section,
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
/* Header */
header {
  height: 200px;
  width: 90vw;
  margin: auto;
}
.button {
  position: relative;
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  /* border: 2px solid #d7d7d7; */
  border-radius: 5px;

  padding: 10px 35px;
  /* gradient */
  background: #f6f6f6;
  background: -webkit-linear-gradient(#f6f6f6, #d7d7d7);
  background: -moz-linear-gradient (#f6f6f6, #d7d7d7);
  background: -ms-linear-gradient(#f6f6f6, #d7d7d7);
  background: -o-linear-gradient(#f6f6f6, #d7d7d7);
  background: linear-gradient(#f6f6f6, #d7d7d7);
  background-clip: padding-box;
}
.button:hover {
  background: #2b4f5d;
  background-image: -webkit-linear-gradient(top, #2b4f5d, #628a98);
  background-image: -moz-linear-gradient(top, #2b4f5d, #628a98);
  background-image: -ms-linear-gradient(top, #2b4f5d, #628a98);
  background-image: -o-linear-gradient(top, #2b4f5d, #628a98);
  background-image: linear-gradient(to bottom, #2b4f5d, #628a98);
  color: white !important;
}
/* Use this hack to fix border-radius with background-image-source: https://stackoverflow.com/questions/5706963/possible-to-use-border-radius-together-with-a-border-image-which-has-a-gradient */

.button::after {
  position: absolute;
  top: -1.5px;
  bottom: -1.5px;
  left: -1.5px;
  right: -1.5px;
  background: linear-gradient(#d7d7d7, #f6f6f6);
  content: "";
  z-index: -1;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #b1b2b2;
}

.button a {
  text-decoration: none;
  color: #2d4e5d;
}
.button:hover a {
  color: white;
}
li.button {
  margin-right: 5px;
}

/* Jumbotron */
.meeting-avatar {
  background-image: url("./img/Meeting.jpeg");
  left: 20px;
}
.flag-avatar {
  background-image: url("./img/Flags.jpeg");
  left: 230px;
}
.chart-avatar {
  background-image: url("./img/Chart.jpg");
  left: 440px;
}
.chart-avatar,
.meeting-avatar,
.flag-avatar {
  top: -50px;
  border-radius: 50%;
  border: 2px solid #bdbfc0;
  padding: 4px;
  width: 170px;
  height: 170px;
  position: absolute;
  margin: 0 auto;
  background: white;
}

.jumbotron {
  background: -webkit-linear-gradient(#e5e9ea, #bad1d7);
  background: -moz-linear-gradient (#e5e9ea, #bad1d7);
  background: -ms-linear-gradient(#e5e9ea, #bad1d7);
  background: -o-linear-gradient(#e5e9ea, #bad1d7);
  background: linear-gradient(#e5e9ea, #bad1d7);
  border: 2px solid #c5c6c6;
  margin-top: 100px;
  position: relative;
  width: 90vw;
  height: 350px;
}
.smiling-man {
  position: absolute;
  right: 20px;
  bottom: 0px;
}
.text-section {
  position: absolute;
  left: 30px;
  bottom: 20px;
  width: 60%;
}
.text-section h3,
h2 {
  color: #2a505d;
  margin-top: 5px;
}
.text-section h3,
.text-section h2,
.text-section p {
  text-shadow: 1px 1px 3px #f8f8f8;
}
.text-section h3 {
  margin-bottom: 5px;
}
.text-section h2 {
  margin-top: 5px;
}
.text-section p,
a {
  color: #4f7783;
}
.text-section p {
  line-height: 30px;
}
/* Main section */
main {
  width: 90vw;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 10px;
}
hr.dotted-line {
  background-color: #fff;
  border-top: 1px dashed #8c8b8b;
}
aside h4,
article h4 {
  text-transform: uppercase;
}
.sub-text {
  font-size: 0.8em;
  color: #b2adb1;
}
aside.blog,
aside.link {
  width: 25%;
}
article.main-article {
  text-align: justify;
  width: 45%;
}
.article-thumbnail {
  float: left;
  margin-right: 20px;
  border: 2px solid #bdbfc0;
}
aside.link p:before {
  content: "• ";
  padding-right: 10px;
}
