/* General settings */
body {
  font-family: arial, sans-serif;
}
/* Header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 80vw;
  margin: auto;
}
.button {
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  color: #1c333b;
  padding: 10px 35px;
  background: #f6f6f6;
  background-image: -webkit-linear-gradient(top, #f6f6f6, #d7d7d7);
  background-image: -moz-linear-gradient(top, #f6f6f6, #d7d7d7);
  background-image: -ms-linear-gradient(top, #f6f6f6, #d7d7d7);
  background-image: -o-linear-gradient(top, #f6f6f6, #d7d7d7);
  background-image: linear-gradient(to bottom, #f6f6f6, #d7d7d7);
}
